XML/Coarse-Grained/WebFF-FF-CoarseGrained-Include.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="..\Include\WebFF-Include.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Angles.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-AtomTypes.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Dihedrals.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Impropers.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Metadata.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-TableData.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Bonds.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-NonBonds.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Dissipatives.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Softs.xsd" />
    <xs:element name="FF-CoarseGrained">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Force-Field-Header" type="Force-Field-Metadata" />
                <xs:element name="AtomTypes" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="AtomType-ATDL">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AtomType" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="ATDL">
                                                        <xs:attribute name="Description" type="xs:string" use="optional" />
                                                        <xs:attribute name="Element" type="xs:string" use="optional" />
                                                        <xs:attribute name="AtomicNumber" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="AtomicMass" type="xs:float" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Nomenclature" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="ATDL" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AtomType-CoarseGrained">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CGType" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="AtomTemplate-CoarseGrained">
                                                        <xs:attribute name="Description" type="xs:string" use="optional" />
                                                        <xs:attribute name="AtomicMass-CG" type="xs:float" use="optional" />
                                                        <xs:attribute name="AtomicSize-CG" type="xs:float" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Nomenclature" use="optional">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="SMILES" />
                                                <xs:enumeration value="SMARTS" />
                                                <xs:enumeration value="CurlySMILES" />
                                                <xs:enumeration value="SLN" />
                                                <xs:enumeration value="InChI" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BondPotential" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BondPotential-Harmonic" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Bond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Bond-Harmonic">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Harmonic" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="K*(R-R0)^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="K-units" type="BondPotential-Harmonic-BondCoefficient-Units" />
                                    <xs:attribute name="R0-units" type="BondPotential-Harmonic-BondLength-Units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BondPotential-Tabular" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AT-1" type="xs:string" />
                                        <xs:element name="AT-2" type="xs:string" />
                                        <xs:element name="keyword" type="xs:string" />
                                        <xs:element name="N" type="xs:integer" />
                                        <xs:element name="fplo" type="xs:float" minOccurs="0" />
                                        <xs:element name="fphi" type="xs:float" minOccurs="0" />
                                        <xs:element name="EQ" type="xs:float" minOccurs="0" />
                                        <xs:element name="Bond" type="BondTable" maxOccurs="unbounded" />
                                    </xs:sequence>
                                    <xs:attribute name="style" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Tabular" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="bond-length-units" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Å" />
                                                <xs:enumeration value="nm" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="energy-units" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="force-units" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole-Å" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                    <xs:attribute name="version" type="VersionString" use="optional" />
                                    <xs:attribute name="reference" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BondPotential-FENE" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Bond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Bond-FENE">
                                                        <xs:attribute name="comment" type="xs:string" />
                                                        <xs:attribute name="version" type="VersionString" />
                                                        <xs:attribute name="reference" type="xs:string" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="FENE" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="(-[(K*R0^2)/2]*ln[1-(R/R0)^2])" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="K-units" type="BondPotential-Harmonic-BondCoefficient-Units" />
                                    <xs:attribute name="R0-units" type="BondPotential-Harmonic-BondLength-Units" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AnglePotential" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AnglePotential-Harmonic" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Angle" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Angle-Harmonic">
                                                        <xs:attribute name="precedence" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Harmonic" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Ka*(Theta-Theta0)^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Ka-units" type="AnglePotential-Harmonic-AngleCoefficient-Units" />
                                    <xs:attribute name="Theta0-units" type="AnglePotential-Harmonic-Angle-Units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AnglePotential-Cosine" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Angle" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Angle-Cosine">
                                                        <xs:attribute name="precedence" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Cosine" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Ka*[1+cos(theta)]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Ka-units" type="AnglePotential-Cosine-Coefficient-Units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AnglePotential-COS2" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Angle" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Angle-COS2">
                                                        <xs:attribute name="precedence" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="cosine/squared" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Ka*[cos(Theta)-cos(Theta0)]^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Ka-units" type="AnglePotential-COS2-AngleCoefficient-Units" />
                                    <xs:attribute name="Theta0-units" type="AnglePotential-COS2-Angle-Units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AnglePotential-Tabular" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AT-1" type="xs:string" />
                                        <xs:element name="AT-2" type="xs:string" />
                                        <xs:element name="AT-3" type="xs:string" />
                                        <xs:element name="keyword" type="xs:string" />
                                        <xs:element name="N" type="xs:integer" />
                                        <xs:element name="fplo" type="xs:float" minOccurs="0" />
                                        <xs:element name="fphi" type="xs:float" minOccurs="0" />
                                        <xs:element name="EQ" type="xs:float" minOccurs="0" />
                                        <xs:element name="Angle" type="AngleTable" maxOccurs="unbounded" />
                                    </xs:sequence>
                                    <xs:attribute name="style" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Tabular" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="angle-units" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="degrees" />
                                                <xs:enumeration value="radians" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="energy-units" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="energy-diff-units" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole-degrees" />
                                                <xs:enumeration value="Kcal/mole-radians" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                    <xs:attribute name="version" type="VersionString" use="optional" />
                                    <xs:attribute name="reference" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DihedralPotential" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DihedralPotential-CHARMM" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Dihedral" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Dihedral-CHARMM">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="CHARMM" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kd*[1+cos(N*Phi-Phi0)]" />
                                                <xs:enumeration value="Kd*[1+cos(N*Phi+Phi0)]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="convention">
                                        <xs:simpleType>
                                            <xs:restriction base="Conventions" />
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Kd-units" type="Dihedral-Kd-Units" />
                                    <xs:attribute name="Phi0-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="degrees" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DihedralPotential-Quadratic" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Dihedral" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Dihedral-Quadratic">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Quadratic" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kd*(Phi-Phi0)^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="convention">
                                        <xs:simpleType>
                                            <xs:restriction base="Conventions">
                                                <xs:enumeration value="cis" />
                                                <xs:enumeration value="cis:left" />
                                                <xs:enumeration value="cis:right" />
                                                <xs:enumeration value="trans" />
                                                <xs:enumeration value="trans:left" />
                                                <xs:enumeration value="trans:right" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Kd-units" type="Dihedral-Quadratic-Kd-Units" />
                                    <xs:attribute name="Phi0-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="degrees" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DihedralPotential-Tabular" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AT-1" type="xs:string" />
                                        <xs:element name="AT-2" type="xs:string" />
                                        <xs:element name="AT-3" type="xs:string" />
                                        <xs:element name="AT-4" type="xs:string" />
                                        <xs:element name="keyword" type="xs:string" />
                                        <xs:element name="N" type="xs:integer" />
                                        <xs:element name="NOF" type="xs:boolean" minOccurs="0" />
                                        <xs:element name="CHECKU" type="xs:string" minOccurs="0" />
                                        <xs:element name="CHECKF" type="xs:string" minOccurs="0" />
                                        <xs:element name="Dihedral" type="DihedralTable" maxOccurs="unbounded" />
                                    </xs:sequence>
                                    <xs:attribute name="style" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Tabular" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="angle-units" use="optional">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="degrees" />
                                                <xs:enumeration value="radians" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="energy-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="energy-diff-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole-degrees" />
                                                <xs:enumeration value="Kcal/mole-radians" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                    <xs:attribute name="version" type="VersionString" use="optional" />
                                    <xs:attribute name="reference" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DihedralPotential-Multiharmonic" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Dihedral" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Dihedral-Multiharmonic">
                                                        <xs:attribute name="comment" type="xs:string" />
                                                        <xs:attribute name="version" type="VersionString" />
                                                        <xs:attribute name="reference" type="xs:string" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style" type="xs:string" />
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="A1+A2*cos(Phi)+A3*cos^2(Phi)+A4*cos^3(Phi)+A5*cos^4(Phi)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="convention" type="Conventions" />
                                    <xs:attribute name="An-units" type="Energy-Units" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ImproperPotential" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ImproperPotential-Harmonic" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Improper" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Improper-Harmonic">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Harmonic" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Ki*(Chi-Chi0)^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="convention">
                                        <xs:simpleType>
                                            <xs:restriction base="Conventions">
                                                <xs:enumeration value="cis" />
                                                <xs:enumeration value="cis:left" />
                                                <xs:enumeration value="cis:right" />
                                                <xs:enumeration value="trans" />
                                                <xs:enumeration value="trans:left" />
                                                <xs:enumeration value="trans:right" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Ki-units" type="Harmonic-Ki-Units" />
                                    <xs:attribute name="Chi0-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="degrees" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="NonBondPotential" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NonBondPotential-LJ" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (12-6)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="4*epsilon*[(sigma/R)^12-(sigma/R)^6]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="LJ-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="LJ-sigma-units" />
                                    <xs:attribute name="Combining-Rule" type="Combining-Rules" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-LJ2" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ2">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (12-6)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="4*epsilon*[(sigma/R)^12-(sigma/R)^6]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="LJ2-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="LJ2-sigma-units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-LJ2-AB" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ2-AB">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="xs:float" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (12-6) [A-B Form]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="A/(R^12)-B/(R^6)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="A-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="kcal*Å^12/mol" />
                                                <xs:enumeration value="kJ*nm^12/mol" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="B-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="kcal*Å^6/mol" />
                                                <xs:enumeration value="kJ*nm^6/mol" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-LJ96" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ96">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (9-6) [Class 2 Form]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="epsilon*[2*(sigma/R)^9-3*(sigma/R)^6]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="LJ-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="LJ-sigma-units" />
                                    <xs:attribute name="Combining-Rule" type="Combining-Rules" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-LJ962" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ962">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (9-6) [Class 2 Form]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="epsilon*[2*(sigma/R)^9-3*(sigma/R)^6]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="LJ2-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="LJ2-sigma-units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-Tabular" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AT-1" type="xs:string" />
                                        <xs:element name="AT-2" type="xs:string" />
                                        <xs:element name="keyword" type="xs:string" />
                                        <xs:element name="N" type="xs:integer" />
                                        <xs:element name="rlo" type="xs:float" minOccurs="0" />
                                        <xs:element name="rhi" type="xs:float" minOccurs="0" />
                                        <xs:element name="fplo" type="xs:float" minOccurs="0" />
                                        <xs:element name="fphi" type="xs:float" minOccurs="0" />
                                        <xs:element name="NonBond" type="NonBondTable" maxOccurs="unbounded" />
                                    </xs:sequence>
                                    <xs:attribute name="style" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Tabular" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Interpolation-style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="R" />
                                                <xs:enumeration value="RSQ" />
                                                <xs:enumeration value="BITMAP" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="r-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Å" />
                                                <xs:enumeration value="nm" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="energy-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="force-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Kcal/mole-Å" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                    <xs:attribute name="version" type="VersionString" use="optional" />
                                    <xs:attribute name="reference" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-Weeks-Chandler-Anderson" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-Weeks-Chandler-Anderson">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Weeks-Chandler-Anderson" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="4*epsilon*[((sigma/R)^-12)-((sigma/R)^-6)+(1/4)]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="WCA-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="WCA-sigma-units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-Mie" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-Mie">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Mie" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="C*epsilon*[(sigma/R)^m_rep-(sigma/R)^n_att]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="Mie-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="Mie-sigma-units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-EnergyRenorm" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-EnergyRenorm">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Energy Renormalization" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="[epsilon_g+[(epsilon_A-epsilon_g)/(1+exp(-k_sig*(T-T_sig)))]]*[((sigma*(a*T+b))/R)^12-((sigma*(a*T+b))/R)^6]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="EnergyRenorm-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="EnergyRenorm-sigma-units" />
                                    <xs:attribute name="T_sig-units" type="EnergyRenorm-T_sig-units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-Soft" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" type="NonBond-Soft" maxOccurs="unbounded" />
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Soft" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="a_ij*[1+cos(pi*r/r_c)]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="a_ij-units" type="Soft-a_ij-units" />
                                    <xs:attribute name="r_c-units" type="Soft-r_c-units" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DissipativePotential" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DissipativePotential-Langevin" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Dissipative" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Dissipative-Langevin">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Langevin" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="gamma" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="gamma-units" type="Langevin-gamma-units" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SoftPotential" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SoftPotential-DPD" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Soft" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Soft-DPD">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="DPD" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="a_ij*(1-r/r_c)-gamma*(1-r/r_c)^2+sigma*(1-r/r_c)*alpha*deltaT^(-1/2)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="a_ij-units" type="DPD-a_ij-units" />
                                    <xs:attribute name="gamma-units" type="Langevin-gamma-units" />
                                    <xs:attribute name="r_c-units" type="DPD-r_c-units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SoftPotential-SRP" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Soft" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Soft-SRP">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="SRP" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="c_ij*(1-r/r_c)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="c_ij-units" type="DPD-a_ij-units" />
                                    <xs:attribute name="r_c-units" type="SRP-r_c-units" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>