XML/Include/WebFF-Include-Dissipatives.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Langevin-gamma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="amu/s" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Dissipative-Langevin">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="gamma" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>