XML/Include/WebFF-Include.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Developer Bundle Edition 13.2.3.6018 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="VersionString">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9][\.]{0,1}[0-9]*" />
            <xsd:whiteSpace value="collapse" />
        </xsd:restriction>
    </xs:simpleType>
    <xs:simpleType name="Conventions">
        <xs:restriction base="xs:string">
            <xs:enumeration value="cis" />
            <xs:enumeration value="trans" />
            <xs:enumeration value="cis:right" />
            <xs:enumeration value="cis:left" />
            <xs:enumeration value="trans:right" />
            <xs:enumeration value="trans:left" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Energy-Units-Scaled">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/degrees^2" />
            <xs:enumeration value="kcal/radians^2" />
            <xs:enumeration value="kJ/degrees^2" />
            <xs:enumeration value="kJ/radians^2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Energy-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal" />
            <xs:enumeration value="kJ" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
