XML/Include/WebFF-Include-WaterModels.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Water-3Site-Rigid">
        <xs:sequence>
            <xs:element name="R_OH" type="xs:float" />
            <xs:element name="Theta_HOH" type="xs:float" />
            <xs:element name="A" type="xs:float" />
            <xs:element name="B" type="xs:float" />
            <xs:element name="q_O" type="xs:float" />
            <xs:element name="q_H" type="xs:float" />
            <xs:element name="EnergyDispersion" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="sigma" type="xs:float" minOccurs="0" />
            <xs:element name="epsilon" type="xs:float" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Water-4Site-Rigid">
        <xs:sequence>
            <xs:element name="R_OH" type="xs:float" />
            <xs:element name="R_OM" type="xs:float" />
            <xs:element name="Theta_HOH" type="xs:float" />
            <xs:element name="A" type="xs:float" />
            <xs:element name="B" type="xs:float" />
            <xs:element name="q_M" type="xs:float" />
            <xs:element name="q_H" type="xs:float" />
            <xs:element name="sigma" type="xs:float" minOccurs="0" />
            <xs:element name="epsilon" type="xs:float" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Water-5Site-Rigid">
        <xs:sequence>
            <xs:element name="R_OH" type="xs:float" />
            <xs:element name="R_OL" type="xs:float" />
            <xs:element name="Theta_HOH" type="xs:float" />
            <xs:element name="Theta_LOL" type="xs:float" />
            <xs:element name="A" type="xs:float" />
            <xs:element name="B" type="xs:float" />
            <xs:element name="q_L" type="xs:float" />
            <xs:element name="q_H" type="xs:float" />
            <xs:element name="R-L" type="xs:float" />
            <xs:element name="R-ij" type="xs:float" />
            <xs:element name="sigma" type="xs:float" minOccurs="0" />
            <xs:element name="epsilon" type="xs:float" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>