XML/Include/WebFF-Include-NonBonds.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="NonBond-LJ">
        <xs:sequence>
            <xs:element name="AtomType" type="xs:string" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-LJ-Rmin">
        <xs:sequence>
            <xs:element name="AtomType" type="xs:string" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="Rmin" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-LJ-AB">
        <xs:sequence>
            <xs:element name="AtomType" type="xs:string" />
            <xs:element name="A" type="xs:float" />
            <xs:element name="B" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-LJ2">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-LJ2-AB">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="A" type="xs:float" />
            <xs:element name="B" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-LJ96">
        <xs:sequence>
            <xs:element name="AtomType" type="xs:string" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-LJ962">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-Weeks-Chandler-Anderson">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
            <xs:element name="r_cut" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-Mie">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="C" type="xs:float" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
            <xs:element name="m_rep" type="xs:float" />
            <xs:element name="n_att" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-EnergyRenorm">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="epsilon_g" type="xs:float" />
            <xs:element name="epsilon_A" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
            <xs:element name="a" type="xs:float" />
            <xs:element name="b" type="xs:float" />
            <xs:element name="k_sig" type="xs:float" />
            <xs:element name="T_sig" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-Soft">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="a_ij" type="xs:float" />
            <xs:element name="r_c" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBond-LJ-GROMACS">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="epsilon" type="xs:float" />
            <xs:element name="sigma" type="xs:float" />
            <xs:element name="r_1" type="xs:float" />
            <xs:element name="r_cut" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonBondTable">
        <xs:sequence>
            <xs:element name="index" type="xs:integer" />
            <xs:element name="r" type="xs:float" />
            <xs:element name="energy" type="xs:float" />
            <xs:element name="force" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Soft-a_ij-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol/Å^2" />
            <xs:enumeration value="kJ/mol/nm^2" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Soft-r_c-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LJ-epsilon-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol" />
            <xs:enumeration value="kJ/mol" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LJ-sigma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LJ2-epsilon-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol" />
            <xs:enumeration value="kJ/mol" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LJ2-sigma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WCA-epsilon-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol" />
            <xs:enumeration value="kJ/mol" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WCA-sigma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Mie-epsilon-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol" />
            <xs:enumeration value="kJ/mol" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Mie-sigma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LJ-Rmin-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LJ-A-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal*Å^12/mol" />
            <xs:enumeration value="kJ*nm^12/mol" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LJ-B-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal*Å^6/mol" />
            <xs:enumeration value="kJ*nm^6/mol" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EnergyRenorm-epsilon-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol" />
            <xs:enumeration value="kJ/mol" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EnergyRenorm-sigma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EnergyRenorm-T_sig-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="K" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Combining-Rules">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Lorentz-Berthelot" />
            <xs:enumeration value="Waldman-Hagler" />
            <xs:enumeration value="Kong" />
            <xs:enumeration value="Fender-Halsey" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>