XML/Water-Models/WebFF-FF-WaterModel-Include.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="..\Include\WebFF-Include.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Metadata.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-WaterModels.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-AtomTypes.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Angles.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-Bonds.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-NonBonds.xsd" />
    <xs:include schemaLocation="..\Include\WebFF-Include-TableData.xsd" />
    <xs:element name="FF-WaterModels">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Force-Field-Header" type="Force-Field-Metadata" />
                <xs:element name="WaterModel" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="WaterModel-3Site-Rigid">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="Water-3Site-Rigid">
                                            <xs:attribute name="name">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string" />
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="formula">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="E=E_q+E_LJ" />
                                                        <xs:enumeration value="E=E_q+E_LJ+E_pol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="version" type="VersionString" use="optional" />
                                            <xs:attribute name="comment" type="xs:string" use="optional" />
                                            <xs:attribute name="R_OH-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="Å" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="Theta_HOH-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="degrees" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="A-Units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="x10^-3 (kcal*Å^12)/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="B-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="(kcal*Å^6)/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="sigma-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="Å" />
                                                        <xs:enumeration value="nm" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="epsilon-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="kJ/mol" />
                                                        <xs:enumeration value="kcal/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="WaterModel-4Site-Rigid">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="Water-4Site-Rigid">
                                            <xs:attribute name="name">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string" />
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="formula">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="E=E_q+E_LJ" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="version" type="VersionString" use="optional" />
                                            <xs:attribute name="comment" type="xs:string" use="optional" />
                                            <xs:attribute name="A-Units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="x10^-3, (kcal*Å^12)/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="B-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="(kcal*Å^6)/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="R-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="Å" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="Theta_HOH-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="degrees" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="sigma-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="Å" />
                                                        <xs:enumeration value="nm" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="epsilon-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="kJ/mol" />
                                                        <xs:enumeration value="kcal/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="WaterModel-5Site-Rigid">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="Water-5Site-Rigid">
                                            <xs:attribute name="name">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string" />
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="formula">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="E=E_q+E_LJ" />
                                                        <xs:enumeration value="E=S(R_ij)*E_q+E_LJ" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="version" type="VersionString" use="optional" />
                                            <xs:attribute name="comment" type="xs:string" use="optional" />
                                            <xs:attribute name="A-Units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="x10^-3, (kcal*Å^12)/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="B-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="(kcal*Å^6)/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="R-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="Å" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="Theta-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="degrees" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="sigma-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="Å" />
                                                        <xs:enumeration value="nm" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="epsilon-units">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="kJ/mol" />
                                                        <xs:enumeration value="kcal/mol" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AtomTypes" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="AtomType-ATDL">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AtomType" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="ATDL">
                                                        <xs:attribute name="Description" type="xs:string" use="optional" />
                                                        <xs:attribute name="Element" type="xs:string" use="optional" />
                                                        <xs:attribute name="AtomicNumber" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="AtomicMass" type="xs:float" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Nomenclature" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="ATDL" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AtomType-Generic">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AtomType" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="AtomTemplate-Generic">
                                                        <xs:attribute name="Description" type="xs:string" use="optional" />
                                                        <xs:attribute name="Element" type="xs:string" use="optional" />
                                                        <xs:attribute name="AtomicNumber" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="AtomicMass" type="xs:float" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Nomenclature" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Generic" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="comment" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BondPotential" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="BondPotential-Harmonic" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Bond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Bond-Harmonic">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Harmonic" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="K*(R-R0)^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="K-units" type="BondPotential-Harmonic-BondCoefficient-Units" />
                                    <xs:attribute name="R0-units" type="BondPotential-Harmonic-BondLength-Units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="BondPotential-Morse" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Bond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Bond-Morse">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Morse" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="D*[(1-exp(-A(R-R0))]^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="D-units" type="BondPotential-Morse-D-Units" />
                                    <xs:attribute name="A-units" type="BondPotential-Morse-A-Units" />
                                    <xs:attribute name="R0-units" type="BondPotential-Morse-R0-Units" />
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AnglePotential" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="AnglePotential-Harmonic" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Angle" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Angle-Harmonic">
                                                        <xs:attribute name="precedence" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Harmonic" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Ka*(Theta-Theta0)^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Ka-units" type="AnglePotential-Harmonic-AngleCoefficient-Units" />
                                    <xs:attribute name="Theta0-units" type="AnglePotential-Harmonic-Angle-Units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="AnglePotential-COS2" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Angle" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="Angle-COS2">
                                                        <xs:attribute name="precedence" type="xs:positiveInteger" use="optional" />
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="cosine/squared" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Ka*[cos(Theta)-cos(Theta0)]^2" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Ka-units" type="AnglePotential-COS2-AngleCoefficient-Units" />
                                    <xs:attribute name="Theta0-units" type="AnglePotential-COS2-Angle-Units" />
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="NonBondPotential" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="NonBondPotential-LJ" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (12-6)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="4*epsilon*[(sigma/R)^12-(sigma/R)^6]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="LJ-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="LJ-sigma-units" />
                                    <xs:attribute name="Combining-Rule" type="Combining-Rules" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-LJ2" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ2">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="VersionString" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (12-6)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="4*epsilon*[(sigma/R)^12-(sigma/R)^6]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="epsilon-units" type="LJ2-epsilon-units" />
                                    <xs:attribute name="sigma-units" type="LJ2-sigma-units" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="NonBondPotential-LJ2-AB" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NonBond" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:complexContent>
                                                    <xs:extension base="NonBond-LJ2-AB">
                                                        <xs:attribute name="comment" type="xs:string" use="optional" />
                                                        <xs:attribute name="version" type="xs:float" use="optional" />
                                                        <xs:attribute name="reference" type="xs:string" use="optional" />
                                                    </xs:extension>
                                                </xs:complexContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="style">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Lennard-Jones (12-6) [A-B Form]" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="formula">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="A/(R^12)-B/(R^6)" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="A-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="kcal*Å^12/mol" />
                                                <xs:enumeration value="kJ*nm^12/mol" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="B-units">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="kcal*Å^6/mol" />
                                                <xs:enumeration value="kJ*nm^6/mol" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BondIncrementTable" minOccurs="0">
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="BondIncrement" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="BondIncrement-Type">
                                            <xs:attribute name="comment" type="xs:string" use="optional" />
                                            <xs:attribute name="version" type="VersionString" use="optional" />
                                            <xs:attribute name="reference" type="xs:string" use="optional" />
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>