Include/WebFF-Include-DissipativePotential.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Langevin-gamma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="amu/s" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DissipativePotential-Langevin">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="gamma" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DissipativePotential-DPD">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="A" type="xs:float" />
            <xs:element name="gamma" type="xs:float" />
            <xs:element name="r_cut" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DPD-A-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol/Å^2" />
            <xs:enumeration value="kJ/mol/nm^2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DPD-gamma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="amu/s" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DPD-r_cut-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>