Include/WebFF-Include-SoftPotential.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="SoftPotential-DPD">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="a_ij" type="xs:float" />
            <xs:element name="gamma" type="xs:float" />
            <xs:element name="r_c" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DPD-a_ij-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol/Å^2" />
            <xs:enumeration value="kJ/mol/nm^2" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DPD-gamma-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="amu/s" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DPD-r_c-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SoftPotential-SRP">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="c_ij" type="xs:float" />
            <xs:element name="r_c" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SRP-a_ij-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol/Å^2" />
            <xs:enumeration value="kJ/mol/nm^2" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SRP-r_c-units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
            <xs:enumeration value="Reduced" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>