Include/WebFF-Include-FF-CoarseGrained-Flattened.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FF-CoarseGrained">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BondPotential" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BondPotential-Harmonic" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Bond" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="Bond-Harmonic">
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Harmonic" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="K*(R-R0)^2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="K-units" type="BondPotential-Harmonic-BondCoefficient-Units" />
                  <xs:attribute name="R0-units" type="BondPotential-Harmonic-BondLength-Units" />
                </xs:complexType>
              </xs:element>
              <xs:element name="BondPotential-Tabular" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AT-1" type="xs:string" />
                    <xs:element name="AT-2" type="xs:string" />
                    <xs:element name="keyword" type="xs:string" />
                    <xs:element name="N" type="xs:integer" />
                    <xs:element name="fplo" type="xs:float" minOccurs="0" />
                    <xs:element name="fphi" type="xs:float" minOccurs="0" />
                    <xs:element name="EQ" type="xs:float" minOccurs="0" />
                    <xs:element name="Bond" type="BondTable" maxOccurs="unbounded" />
                  </xs:sequence>
                  <xs:attribute name="style" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Tabular" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="bond-length-units" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Å" />
                        <xs:enumeration value="nm" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="energy-units" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="force-units" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole-Å" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                  <xs:attribute name="version" type="VersionString" use="optional" />
                  <xs:attribute name="reference" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AnglePotential" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AnglePotential-Harmonic" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Angle" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="Angle-Harmonic">
                            <xs:attribute name="precedence" type="xs:positiveInteger" use="optional" />
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Harmonic" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Ka*(Theta-Theta0)^2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Ka-units" type="AnglePotential-Harmonic-AngleCoefficient-Units" />
                  <xs:attribute name="Theta0-units" type="AnglePotential-Harmonic-Angle-Units" />
                </xs:complexType>
              </xs:element>
              <xs:element name="AnglePotential-COS2" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Angle" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="Angle-COS2">
                            <xs:attribute name="precedence" type="xs:positiveInteger" use="optional" />
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="cosine/squared" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Ka*[cos(Theta)-cos(Theta0)]^2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Ka-units" type="AnglePotential-COS2-AngleCoefficient-Units" />
                  <xs:attribute name="Theta0-units" type="AnglePotential-COS2-Angle-Units" />
                </xs:complexType>
              </xs:element>
              <xs:element name="AnglePotential-Tabular" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AT-1" type="xs:string" />
                    <xs:element name="AT-2" type="xs:string" />
                    <xs:element name="AT-3" type="xs:string" />
                    <xs:element name="keyword" type="xs:string" />
                    <xs:element name="N" type="xs:integer" />
                    <xs:element name="fplo" type="xs:float" minOccurs="0" />
                    <xs:element name="fphi" type="xs:float" minOccurs="0" />
                    <xs:element name="EQ" type="xs:float" minOccurs="0" />
                    <xs:element name="Angle" type="AngleTable" maxOccurs="unbounded" />
                  </xs:sequence>
                  <xs:attribute name="style" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Tabular" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="angle-units" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="degrees" />
                        <xs:enumeration value="radians" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="energy-units" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="energy-diff-units" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole-degrees" />
                        <xs:enumeration value="Kcal/mole-radians" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                  <xs:attribute name="version" type="VersionString" use="optional" />
                  <xs:attribute name="reference" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DihedralPotential" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DihedralPotential-Quadratic" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Dihedral" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="Dihedral-Quadratic">
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Quadratic" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kd*(Phi-Phi0)^2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="convention">
                    <xs:simpleType>
                      <xs:restriction base="Conventions">
                        <xs:enumeration value="cis" />
                        <xs:enumeration value="cis:left" />
                        <xs:enumeration value="cis:right" />
                        <xs:enumeration value="trans" />
                        <xs:enumeration value="trans:left" />
                        <xs:enumeration value="trans:right" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Kd-units" type="Energy-Units" />
                  <xs:attribute name="Phi0-units">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="degrees" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="DihedralPotential-Tabular" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AT-1" type="xs:string" />
                    <xs:element name="AT-2" type="xs:string" />
                    <xs:element name="AT-3" type="xs:string" />
                    <xs:element name="AT-4" type="xs:string" />
                    <xs:element name="keyword" type="xs:string" />
                    <xs:element name="N" type="xs:integer" />
                    <xs:element name="NOF" type="xs:boolean" minOccurs="0" />
                    <xs:element name="CHECKU" type="xs:string" minOccurs="0" />
                    <xs:element name="CHECKF" type="xs:string" minOccurs="0" />
                    <xs:element name="Dihedral" type="DihedralTable" maxOccurs="unbounded" />
                  </xs:sequence>
                  <xs:attribute name="style" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Tabular" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="angle-units" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="degrees" />
                        <xs:enumeration value="radians" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="energy-units">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="energy-diff-units">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole-degrees" />
                        <xs:enumeration value="Kcal/mole-radians" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                  <xs:attribute name="version" type="VersionString" use="optional" />
                  <xs:attribute name="reference" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ImproperPotential" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ImproperPotential-Harmonic" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Improper" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="Improper-Harmonic">
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Harmonic" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Ki*(Chi-Chi0)^2" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="convention">
                    <xs:simpleType>
                      <xs:restriction base="Conventions">
                        <xs:enumeration value="cis" />
                        <xs:enumeration value="cis:left" />
                        <xs:enumeration value="cis:right" />
                        <xs:enumeration value="trans" />
                        <xs:enumeration value="trans:left" />
                        <xs:enumeration value="trans:right" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Ki-units" type="Energy-Units-Scaled" />
                  <xs:attribute name="Chi0-units">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="degrees" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="NonBondPotential" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NonBondPotential-LJ" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NonBond" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="NonBond-LJ">
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Lennard-Jones (12-6)" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="4*epsilon*[(sigma/R)^12-(sigma/R)^6]" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="epsilon-units" type="LJ-epsilon-units" />
                  <xs:attribute name="sigma-units" type="LJ-sigma-units" />
                  <xs:attribute name="Combining-Rule" type="Combining-Rules" />
                </xs:complexType>
              </xs:element>
              <xs:element name="NonBondPotential-LJ2" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NonBond" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="NonBond-LJ2">
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Lennard-Jones (12-6)" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="4*epsilon*[(sigma/R)^12-(sigma/R)^6]" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="epsilon-units" type="LJ-epsilon-units" />
                  <xs:attribute name="sigma-units" type="LJ-sigma-units" />
                  <xs:attribute name="Combining-Rule" type="Combining-Rules" />
                </xs:complexType>
              </xs:element>
              <xs:element name="NonBondPotential-LJ96" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NonBond" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="NonBond-LJ96">
                            <xs:attribute name="comment" type="xs:string" use="optional" />
                            <xs:attribute name="version" type="VersionString" use="optional" />
                            <xs:attribute name="reference" type="xs:string" use="optional" />
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Lennard-Jones (9-6) [Class 2 Form]" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="formula">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="epsilon*[2*(sigma/R)^9-3*(sigma/R)^6]" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="epsilon-units" type="LJ-epsilon-units" />
                  <xs:attribute name="sigma-units" type="LJ-sigma-units" />
                  <xs:attribute name="Combining-Rule" type="Combining-Rules" />
                </xs:complexType>
              </xs:element>
              <xs:element name="NonBondPotential-Tabular" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AT-1" type="xs:string" />
                    <xs:element name="AT-2" type="xs:string" />
                    <xs:element name="keyword" type="xs:string" />
                    <xs:element name="N" type="xs:integer" />
                    <xs:element name="rlo" type="xs:float" minOccurs="0" />
                    <xs:element name="rhi" type="xs:float" minOccurs="0" />
                    <xs:element name="fplo" type="xs:float" minOccurs="0" />
                    <xs:element name="fphi" type="xs:float" minOccurs="0" />
                    <xs:element name="NonBond" type="NonBondTable" maxOccurs="unbounded" />
                  </xs:sequence>
                  <xs:attribute name="style" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Tabular" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Interpolation-style">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="R" />
                        <xs:enumeration value="RSQ" />
                        <xs:enumeration value="BITMAP" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="r-units">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Å" />
                        <xs:enumeration value="nm" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="energy-units">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="force-units">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Kcal/mole-Å" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="comment" type="xs:string" use="optional" />
                  <xs:attribute name="version" type="VersionString" use="optional" />
                  <xs:attribute name="reference" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include.xsd-->
  <xs:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="VersionString">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9][\.]{0,1}[0-9]*" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xs:simpleType>
  <xs:simpleType name="Conventions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cis" />
      <xs:enumeration value="trans" />
      <xs:enumeration value="cis:right" />
      <xs:enumeration value="cis:left" />
      <xs:enumeration value="trans:right" />
      <xs:enumeration value="trans:left" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Energy-Units-Scaled">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/degrees^2" />
      <xs:enumeration value="kcal/radians^2" />
      <xs:enumeration value="kJ/degrees^2" />
      <xs:enumeration value="kJ/radians^2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Energy-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal" />
      <xs:enumeration value="kJ" />
    </xs:restriction>
  </xs:simpleType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-Angles.xsd-->
  <xs:complexType name="Angle-Harmonic">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="Ka" type="xs:float" />
      <xs:element name="Theta0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Angle-COS2">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="Ka" type="xs:float" />
      <xs:element name="Theta0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Angle-CHARMM">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="Ka" type="xs:float" />
      <xs:element name="Theta0" type="xs:float" />
      <xs:element name="Kub" type="xs:float" />
      <xs:element name="Rub" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnglePotential-Class2">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="K2" type="xs:float" />
      <xs:element name="K3" type="xs:float" />
      <xs:element name="K4" type="xs:float" />
      <xs:element name="Theta0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AngleTable">
    <xs:sequence>
      <xs:element name="index" type="xs:integer" />
      <xs:element name="angle" type="xs:float" />
      <xs:element name="energy" type="xs:float" />
      <xs:element name="energy-diff" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnglePotential-Harmonic-AngleCoefficient-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/mol/degrees^2" />
      <xs:enumeration value="kJ/mol/degrees^2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnglePotential-Harmonic-Angle-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="degrees" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnglePotential-COS2-AngleCoefficient-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/mol" />
      <xs:enumeration value="kJ/mol" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnglePotential-COS2-Angle-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="degrees" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnglePotential-CHARMM-AngleCoefficient-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/mol/degrees^2" />
      <xs:enumeration value="kJ/mol/degrees^2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnglePotential-CHARMM-Angle-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="degrees" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnglePotential-CHARMM-KUB-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/mol/Å^2" />
      <xs:enumeration value="kJ/mol/nm^2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnglePotential-CHARMM-RUB-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Å" />
      <xs:enumeration value="nm" />
    </xs:restriction>
  </xs:simpleType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-AtomTypes.xsd-->
  <xs:complexType name="AtomTemplate">
    <xs:sequence>
      <xs:element name="AtomType-Name" type="xs:string" />
      <xs:element name="BondPattern" type="xs:string" minOccurs="0" />
      <xs:element name="BondPattern-2" type="xs:string" minOccurs="0" />
      <xs:element name="Atom-Attributes" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Attribute" type="AttributeType" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributeType">
    <xs:sequence>
      <xs:element name="Index" type="xs:positiveInteger" />
      <xs:element name="BondOrder" type="xs:integer" minOccurs="0" />
      <xs:element name="Ring" type="xs:integer" minOccurs="0" />
      <xs:element name="Aromatic" type="xs:boolean" minOccurs="0" />
      <xs:element name="FormalCharge" type="xs:integer" minOccurs="0" />
      <xs:element name="Hybridization" type="xs:string" minOccurs="0" />
      <xs:element name="ElementsAllowed" type="xs:string" minOccurs="0" />
      <xs:element name="ElementsDisallowed" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-Bonds.xsd-->
  <xs:complexType name="Bond-Harmonic">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="K" type="xs:float" />
      <xs:element name="R0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BondPotential-Harmonic-BondCoefficient-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/mol/Å^2" />
      <xs:enumeration value="kJ/mol/nm^2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BondPotential-Harmonic-BondLength-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Å" />
      <xs:enumeration value="nm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Bond-Class2">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="K2" type="xs:float" />
      <xs:element name="K3" type="xs:float" />
      <xs:element name="K4" type="xs:float" />
      <xs:element name="R0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BondPotential-Class2-BondCoefficient-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="K2:kcal/mol/Å^2 | K3:kcal/mol/Å^3 | K4:kcal/mol/Å^4" />
      <xs:enumeration value="K2:kJ/mol/nm^2 | K3:kJ/mol/nm^3 | K4:kJ/mol/nm^4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BondPotential-Class2-BondLength-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Å" />
      <xs:enumeration value="nm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Bond-Morse">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="D" type="xs:float" />
      <xs:element name="A" type="xs:float" />
      <xs:element name="R0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BondPotential-Morse-D-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/mol" />
      <xs:enumeration value="kJ/mol" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BondPotential-Morse-A-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1/Å" />
      <xs:enumeration value="1/nm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BondPotential-Morse-R0-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Å" />
      <xs:enumeration value="nm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BondTable">
    <xs:sequence>
      <xs:element name="index" type="xs:integer" />
      <xs:element name="bond-length" type="xs:float" />
      <xs:element name="energy" type="xs:float" />
      <xs:element name="force" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-Dihedrals.xsd-->
  <xs:complexType name="Dihedral-CHARMM">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Kd" type="xs:float" />
      <xs:element name="N" type="xs:positiveInteger" />
      <xs:element name="Phi0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dihedral-Harmonic">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Kd" type="xs:float" />
      <xs:element name="Ns">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="-1" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="N" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dihedral-Quadratic">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Kd" type="xs:float" />
      <xs:element name="Phi0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dihedral-OPLS">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="K1" type="xs:float" />
      <xs:element name="K2" type="xs:float" />
      <xs:element name="K3" type="xs:float" />
      <xs:element name="K4" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dihedral-FourierSimple">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="K1" type="xs:float" />
      <xs:element name="K2" type="xs:float" />
      <xs:element name="K3" type="xs:float" />
      <xs:element name="K4" type="xs:float" />
      <xs:element name="K5" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dihedral-Fourier">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="K1" type="xs:float" />
      <xs:element name="N1" type="xs:int" />
      <xs:element name="D1" type="xs:float" />
      <xs:element name="K2" type="xs:float" />
      <xs:element name="N2" type="xs:int" />
      <xs:element name="D2" type="xs:float" />
      <xs:element name="K3" type="xs:float" />
      <xs:element name="N3" type="xs:int" />
      <xs:element name="D3" type="xs:float" />
      <xs:element name="K4" type="xs:float" />
      <xs:element name="N4" type="xs:int" />
      <xs:element name="D4" type="xs:float" />
      <xs:element name="K5" type="xs:float" />
      <xs:element name="N5" type="xs:int" />
      <xs:element name="D5" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DihedralPotential-Class2">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="K1" type="xs:float" />
      <xs:element name="K2" type="xs:float" />
      <xs:element name="K3" type="xs:float" />
      <xs:element name="Phi1" type="xs:float" />
      <xs:element name="Phi2" type="xs:float" />
      <xs:element name="Phi3" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DihedralTable">
    <xs:sequence>
      <xs:element name="index" type="xs:integer" />
      <xs:element name="angle" type="xs:float" />
      <xs:element name="energy" type="xs:float" />
      <xs:element name="energy-diff" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Dihedral-Energy-Units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal" />
      <xs:enumeration value="kJ" />
    </xs:restriction>
  </xs:simpleType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-Impropers.xsd-->
  <xs:complexType name="Improper-CVFF">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Ki" type="xs:float" />
      <xs:element name="Ns">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:enumeration value="-1" />
            <xs:enumeration value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="N" type="xs:positiveInteger" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Improper-COS2">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Ki" type="xs:float" />
      <xs:element name="Chi0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Improper-Fourier">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Ki" type="xs:float" />
      <xs:element name="C0" type="xs:float" />
      <xs:element name="C1" type="xs:float" />
      <xs:element name="C2" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Improper-Harmonic">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Ki" type="xs:float" />
      <xs:element name="Chi0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Improper-Umbrella">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Ki" type="xs:float" />
      <xs:element name="w0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Improper-CHARMM">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Kd" type="xs:float" />
      <xs:element name="N" type="xs:positiveInteger" />
      <xs:element name="Phi0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImproperPotential-Class2">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="AT-3" type="xs:string" />
      <xs:element name="AT-4" type="xs:string" />
      <xs:element name="Ki" type="xs:float" />
      <xs:element name="Chi0" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-Metadata.xsd-->
  <xs:complexType name="Force-Field-Metadata">
    <xs:sequence>
      <xs:element name="Force-Field-Protocol" type="FF-Protocol-List" />
      <xs:element name="Force-Field-Name" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
      <xs:element name="Data-Source">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Compact" type="SimpleReference-Type" />
            <xs:element name="Website" type="Website-Type" />
            <xs:element name="Journal-Article" type="JournalArticle-Type" />
            <xs:element name="Book" type="Book-Type" />
            <xs:element name="BookChapter" type="BookChapter-Type" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Data-Source-Scribe" type="Contact" />
      <xs:element name="Keywords" type="Keywords-List" maxOccurs="unbounded" />
      <xs:element name="Additional-Keywords" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="WebFF-Scribe" type="Contact" />
      <xs:element name="Additional-References" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Compact" type="SimpleReference-Type" />
            <xs:element name="Website" type="Website-Type" />
            <xs:element name="Journal-Article" type="JournalArticle-Type" />
            <xs:element name="Book" type="Book-Type" />
            <xs:element name="BookChapter" type="BookChapter-Type" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FF-Protocol-List">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Atomistic - Class I" />
      <xs:enumeration value="Atomistic - Class II" />
      <xs:enumeration value="Atomistic - Bond Order" />
      <xs:enumeration value="Atomistic - ReaxFF" />
      <xs:enumeration value="Atomistic - Polarizable" />
      <xs:enumeration value="Atomistic - United Atom (UA)" />
      <xs:enumeration value="Coarse-Grained - Pseudo-Atom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Keywords-List">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Acetals" />
      <xs:enumeration value="- Hemiacetals" />
      <xs:enumeration value="- Ketals" />
      <xs:enumeration value="- Thioacetals" />
      <xs:enumeration value="- Thioketals" />
      <xs:enumeration value="Aliphatic hydrocarbons" />
      <xs:enumeration value="- Alkanes" />
      <xs:enumeration value="- Cycloalkanes" />
      <xs:enumeration value="- Alkenes" />
      <xs:enumeration value="- Alkynes" />
      <xs:enumeration value="Aliphatic hydrocarbons, substituted" />
      <xs:enumeration value="- Alcohols" />
      <xs:enumeration value="- Alkyl halides" />
      <xs:enumeration value="- Diols" />
      <xs:enumeration value="- Thiols" />
      <xs:enumeration value="- Nitriles" />
      <xs:enumeration value="Amines" />
      <xs:enumeration value="- Aminals" />
      <xs:enumeration value="Aromatics" />
      <xs:enumeration value="- Acetophenones" />
      <xs:enumeration value="- Anilines" />
      <xs:enumeration value="- Anisoles" />
      <xs:enumeration value="- Aryl aromatics" />
      <xs:enumeration value="- Aryl halides" />
      <xs:enumeration value="- Benzenesulfonic acids" />
      <xs:enumeration value="- Benzophenones" />
      <xs:enumeration value="- Nitrobenzenes" />
      <xs:enumeration value="- Phenols" />
      <xs:enumeration value="- Xylenes" />
      <xs:enumeration value="- Polycyclics" />
      <xs:enumeration value="Biomolecular compounds" />
      <xs:enumeration value="- Amino acids" />
      <xs:enumeration value="- Lipids" />
      <xs:enumeration value="- Peptides" />
      <xs:enumeration value="- Proteins" />
      <xs:enumeration value="- Nucleic acids" />
      <xs:enumeration value="Carbohydrates" />
      <xs:enumeration value="- Monosaccharides" />
      <xs:enumeration value="- Disaccharides" />
      <xs:enumeration value="- Oligosaccharides" />
      <xs:enumeration value="- Polysaccharides" />
      <xs:enumeration value="- Polyols" />
      <xs:enumeration value="- Starches" />
      <xs:enumeration value="Carbonyl compounds" />
      <xs:enumeration value="- Acid anhydride" />
      <xs:enumeration value="- Acyl halides" />
      <xs:enumeration value="- Acyl chlorides" />
      <xs:enumeration value="- Aldehydes" />
      <xs:enumeration value="- Amides" />
      <xs:enumeration value="- Lactams" />
      <xs:enumeration value="- Carboxylic acids" />
      <xs:enumeration value="- Enones" />
      <xs:enumeration value="- Esters" />
      <xs:enumeration value="- Lactones" />
      <xs:enumeration value="- Imides" />
      <xs:enumeration value="- Ketones" />
      <xs:enumeration value="- Orthoesters" />
      <xs:enumeration value="Ethers" />
      <xs:enumeration value="- Epoxides" />
      <xs:enumeration value="- Sulfides" />
      <xs:enumeration value="Fullerenes" />
      <xs:enumeration value="Heterocyclics" />
      <xs:enumeration value="Imines" />
      <xs:enumeration value="- Schiff bases" />
      <xs:enumeration value="Organometallic compounds" />
      <xs:enumeration value="Oximes" />
      <xs:enumeration value="Water" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="- Carbides" />
      <xs:enumeration value="- Metals" />
      <xs:enumeration value="- Silicon compounds" />
      <xs:enumeration value="Metal Organic Frameworks" />
      <xs:enumeration value="Polymers" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Affiliation" type="xs:string" />
      <xs:element name="email" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SimpleReference-Type">
    <xs:sequence>
      <xs:element name="Reference" type="xs:string" />
      <xs:element name="DOI" type="xs:string" minOccurs="0" />
      <xs:element name="URL" type="xs:string" minOccurs="0" />
      <xs:element name="Notes" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Website-Type">
    <xs:sequence>
      <xs:element name="Website-Name" type="xs:string" />
      <xs:element name="URL" type="xs:string" />
      <xs:element name="Notes" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JournalArticle-Type">
    <xs:sequence>
      <xs:element name="Author" type="xs:string" maxOccurs="unbounded" />
      <xs:element name="Title" type="xs:string" minOccurs="0" />
      <xs:element name="Journal" type="xs:string" />
      <xs:element name="Volume" type="xs:string" />
      <xs:element name="Number" type="xs:string" minOccurs="0" />
      <xs:element name="Pages" type="xs:string" />
      <xs:element name="Date" type="xs:string" />
      <xs:element name="DOI" type="xs:string" minOccurs="0" />
      <xs:element name="Notes" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Book-Type">
    <xs:sequence>
      <xs:element name="BookEditor" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="BookAuthor" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="BookTitle" type="xs:string" />
      <xs:element name="Publisher" type="xs:string" />
      <xs:element name="PublicationDate" type="xs:string" />
      <xs:element name="PublicationPlace" type="xs:string" minOccurs="0" />
      <xs:element name="Volume" type="xs:string" minOccurs="0" />
      <xs:element name="Edition" type="xs:string" minOccurs="0" />
      <xs:element name="DOI" type="xs:string" minOccurs="0" />
      <xs:element name="Notes" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BookChapter-Type">
    <xs:sequence>
      <xs:element name="BookEditor" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="BookAuthor" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="BookTitle" type="xs:string" />
      <xs:element name="Publisher" type="xs:string" />
      <xs:element name="PublicationDate" type="xs:string" />
      <xs:element name="PublicationPlace" type="xs:string" minOccurs="0" />
      <xs:element name="Volume" type="xs:string" minOccurs="0" />
      <xs:element name="Edition" type="xs:string" minOccurs="0" />
      <xs:element name="DOI" type="xs:string" minOccurs="0" />
      <xs:element name="ChapterAuthor" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ChapterTitle" type="xs:string" />
      <xs:element name="ChapterPages" type="xs:string" />
      <xs:element name="Notes" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentType">
    <xs:sequence>
      <xs:element xmlns:ns0="http://mdcs.ns" name="File-Description" type="xs:string" ns0:_mod_mdcs_="/registry/description" />
      <xs:element xmlns:ns0="http://mdcs.ns" name="Reference" type="xs:anyURI" ns0:_mod_mdcs_="/curator/blob-hoster" />
    </xs:sequence>
  </xs:complexType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-NonBonds.xsd-->
  <xs:complexType name="NonBond-LJ">
    <xs:sequence>
      <xs:element name="AtomType" type="xs:string" />
      <xs:element name="epsilon" type="xs:float" />
      <xs:element name="sigma" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonBond-LJ-Rmin">
    <xs:sequence>
      <xs:element name="AtomType" type="xs:string" />
      <xs:element name="epsilon" type="xs:float" />
      <xs:element name="Rmin" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonBond-LJ-AB">
    <xs:sequence>
      <xs:element name="AtomType" type="xs:string" />
      <xs:element name="A" type="xs:float" />
      <xs:element name="B" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonBond-LJ2">
    <xs:sequence>
      <xs:element name="AT-1" type="xs:string" />
      <xs:element name="AT-2" type="xs:string" />
      <xs:element name="epsilon" type="xs:float" />
      <xs:element name="sigma" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonBond-LJ96">
    <xs:sequence>
      <xs:element name="AtomType" type="xs:string" />
      <xs:element name="epsilon" type="xs:float" />
      <xs:element name="sigma" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonBondTable">
    <xs:sequence>
      <xs:element name="index" type="xs:integer" />
      <xs:element name="r" type="xs:float" />
      <xs:element name="energy" type="xs:float" />
      <xs:element name="force" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LJ-epsilon-units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal/mol" />
      <xs:enumeration value="kJ/mol" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LJ-sigma-units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Å (Angstrom)" />
      <xs:enumeration value="nm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LJ-Rmin-units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Å (Angstrom)" />
      <xs:enumeration value="nm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LJ-A-units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal*Å^12/mol" />
      <xs:enumeration value="kJ*nm^12/mol" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LJ-B-units">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kcal*Å^6/mol" />
      <xs:enumeration value="kJ*nm^6/mol" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Combining-Rules">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Lorentz-Berthelot" />
      <xs:enumeration value="Waldman-Hagler" />
      <xs:enumeration value="Kong" />
      <xs:enumeration value="Fender-Halsey" />
    </xs:restriction>
  </xs:simpleType>
  <!--Schema items added from C:\Github\Projects\WebFF-Documentation\Include\WebFF-Include-TableData.xsd-->
  <xs:complexType name="BondIncrement-Type">
    <xs:sequence>
      <xs:element name="AT-I" type="xs:string" />
      <xs:element name="AT-J" type="xs:string" />
      <xs:element name="Delta-IJ" type="xs:string" />
      <xs:element name="Delta-JI" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Equivalence-Relation">
    <xs:sequence>
      <xs:element name="AtomType" type="xs:string" />
      <xs:element name="NonBond" type="xs:string" />
      <xs:element name="Bond" type="xs:string" />
      <xs:element name="Angle" type="xs:string" />
      <xs:element name="Dihedral" type="xs:string" />
      <xs:element name="Improper" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutoEquivalence-Type">
    <xs:sequence>
      <xs:element name="AtomType" type="xs:string" />
      <xs:element name="NonBond" type="xs:string" />
      <xs:element name="BondIncrement" type="xs:string" />
      <xs:element name="Bond" type="xs:string" />
      <xs:element name="AngleEnd" type="xs:string" />
      <xs:element name="AngleApex" type="xs:string" />
      <xs:element name="DihedralEnd" type="xs:string" />
      <xs:element name="DihedralCenter" type="xs:string" />
      <xs:element name="OutOfPlaneEnd" type="xs:string" />
      <xs:element name="OutOfPlaneCenter" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>