Include/WebFF-Include-Class2Cross.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="CrossPotential-BondBond">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="M" type="xs:float" />
            <xs:element name="R1" type="xs:float" />
            <xs:element name="R2" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CrossPotential-BondBond13">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="N" type="xs:float" />
            <xs:element name="R1" type="xs:float" />
            <xs:element name="R3" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CrossPotential-AngleAngle">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="M1" type="xs:float" />
            <xs:element name="M2" type="xs:float" />
            <xs:element name="M3" type="xs:float" />
            <xs:element name="Theta1" type="xs:float" />
            <xs:element name="Theta2" type="xs:float" />
            <xs:element name="Theta3" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CrossPotential-BondAngle">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="Theta0" type="xs:float" />
            <xs:element name="N1" type="xs:float" />
            <xs:element name="N2" type="xs:float" />
            <xs:element name="R1" type="xs:float" />
            <xs:element name="R2" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CrossPotential-MiddleBondTorsion">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="A1" type="xs:float" />
            <xs:element name="A2" type="xs:float" />
            <xs:element name="A3" type="xs:float" />
            <xs:element name="R2" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CrossPotential-EndBondTorsion">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="B1" type="xs:float" />
            <xs:element name="B2" type="xs:float" />
            <xs:element name="B3" type="xs:float" />
            <xs:element name="C1" type="xs:float" />
            <xs:element name="C2" type="xs:float" />
            <xs:element name="C3" type="xs:float" />
            <xs:element name="R1" type="xs:float" />
            <xs:element name="R3" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CrossPotential-AngleTorsion">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="D1" type="xs:float" />
            <xs:element name="D2" type="xs:float" />
            <xs:element name="D3" type="xs:float" />
            <xs:element name="E1" type="xs:float" />
            <xs:element name="E2" type="xs:float" />
            <xs:element name="E3" type="xs:float" />
            <xs:element name="Theta1" type="xs:float" />
            <xs:element name="Theta2" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CrossPotential-AngleAngleTorsion">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="M" type="xs:float" />
            <xs:element name="Theta1" type="xs:float" />
            <xs:element name="Theta2" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>