Include/WebFF-Include-Dihedrals.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Dihedral-CHARMM">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="Kd" type="xs:float" />
            <xs:element name="N" type="xs:positiveInteger" />
            <xs:element name="Phi0" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Dihedral-Harmonic">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="Kd" type="xs:float" />
            <xs:element name="Ns">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:enumeration value="-1" />
                        <xs:enumeration value="1" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="N" type="xs:positiveInteger" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Dihedral-Quadratic">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="Kd" type="xs:float" />
            <xs:element name="Phi0" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Dihedral-OPLS">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="K1" type="xs:float" />
            <xs:element name="K2" type="xs:float" />
            <xs:element name="K3" type="xs:float" />
            <xs:element name="K4" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Dihedral-FourierSimple">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="K1" type="xs:float" />
            <xs:element name="K2" type="xs:float" minOccurs="0" />
            <xs:element name="K3" type="xs:float" minOccurs="0" />
            <xs:element name="K4" type="xs:float" minOccurs="0" />
            <xs:element name="K5" type="xs:float" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Dihedral-Fourier">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="K1" type="xs:float" />
            <xs:element name="N1" type="xs:int" />
            <xs:element name="D1" type="xs:float" />
            <xs:element name="K2" type="xs:float" minOccurs="0" />
            <xs:element name="N2" type="xs:int" minOccurs="0" />
            <xs:element name="D2" type="xs:float" minOccurs="0" />
            <xs:element name="K3" type="xs:float" minOccurs="0" />
            <xs:element name="N3" type="xs:int" minOccurs="0" />
            <xs:element name="D3" type="xs:float" minOccurs="0" />
            <xs:element name="K4" type="xs:float" minOccurs="0" />
            <xs:element name="N4" type="xs:int" minOccurs="0" />
            <xs:element name="D4" type="xs:float" minOccurs="0" />
            <xs:element name="K5" type="xs:float" minOccurs="0" />
            <xs:element name="N5" type="xs:int" minOccurs="0" />
            <xs:element name="D5" type="xs:float" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DihedralPotential-Class2">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="AT-3" type="xs:string" />
            <xs:element name="AT-4" type="xs:string" />
            <xs:element name="K1" type="xs:float" />
            <xs:element name="K2" type="xs:float" />
            <xs:element name="K3" type="xs:float" />
            <xs:element name="Phi1" type="xs:float" />
            <xs:element name="Phi2" type="xs:float" />
            <xs:element name="Phi3" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DihedralTable">
        <xs:sequence>
            <xs:element name="index" type="xs:integer" />
            <xs:element name="angle" type="xs:float" />
            <xs:element name="energy" type="xs:float" />
            <xs:element name="energy-diff" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Dihedral-Energy-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal" />
            <xs:enumeration value="kJ" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>