Include/WebFF-Include-Bonds.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2017 - XML Editor Edition 15.1.12.7658 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Bond-Harmonic">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="K" type="xs:float" />
            <xs:element name="R0" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BondPotential-Harmonic-BondCoefficient-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol/Å^2" />
            <xs:enumeration value="kJ/mol/nm^2" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BondPotential-Harmonic-BondLength-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Bond-Class2">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="K2" type="xs:float" />
            <xs:element name="K3" type="xs:float" />
            <xs:element name="K4" type="xs:float" />
            <xs:element name="R0" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BondPotential-Class2-BondCoefficient-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="K2:kcal/mol/Å^2 | K3:kcal/mol/Å^3 | K4:kcal/mol/Å^4" />
            <xs:enumeration value="K2:kJ/mol/nm^2 | K3:kJ/mol/nm^3 | K4:kJ/mol/nm^4" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BondPotential-Class2-BondLength-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Bond-Morse">
        <xs:sequence>
            <xs:element name="AT-1" type="xs:string" />
            <xs:element name="AT-2" type="xs:string" />
            <xs:element name="D" type="xs:float" />
            <xs:element name="A" type="xs:float" />
            <xs:element name="R0" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BondPotential-Morse-D-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="kcal/mol" />
            <xs:enumeration value="kJ/mol" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BondPotential-Morse-A-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1/Å" />
            <xs:enumeration value="1/nm" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BondPotential-Morse-R0-Units">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Å" />
            <xs:enumeration value="nm" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BondTable">
        <xs:sequence>
            <xs:element name="index" type="xs:integer" />
            <xs:element name="bond-length" type="xs:float" />
            <xs:element name="energy" type="xs:float" />
            <xs:element name="force" type="xs:float" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>